@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    color: #4CAF50;
    font-family:"Roboto";
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
input[type="radio"] {
    margin-right: 5px;
}

.radio-group {
    margin-bottom: 20px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#recommendations {
    margin-top: 20px;
}

#resources li {
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-container img {
    max-width: 22%;
    height: auto;
    border-radius: 5px;
}

#home {
    background-image: url('https://res.cloudinary.com/du3lwssct/image/upload/v1711187853/10_easy_ways_to_reduce_your_carbon_footprint_py3mor.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 100px 20px;
    width: 100vw;
    height:80vh;
}
.home-text-align{
    text-align:center;
}

footer {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.calculator-page {
    background-color: #323f4d;
    color: #ffffff;
}

.resources-page {
    background-color: #605d61;
}